.gallery {
  background-color: #f9f9f9;
  text-align: center;
}

.gallery-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.gallery-grid img {
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.gallery-grid img:hover {
  transform: scale(1.05);
}
