.programs {
  background-color: #fff;
  text-align: center;
}

.program-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.program-card {
  background-color: #fcebb6;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.program-card:hover {
  transform: translateY(-5px);
}
